In [57]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

### Data Reading & Data Types

In [58]:
#Read the data in pandas
inp0= pd.read_csv("D:/Upgrad-Class/EDA/Univariate-Graded/Attribute.csv")
inp1= pd.read_csv("D:/Upgrad-Class/EDA/Univariate-Graded/Dress+Sales.csv")

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical
- Object type and categorical
- Integer type and continuous numerical
- Object type only.

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above

In [59]:
# Print the information about the attributes of inp0 and inp1.

### Fixing the Rows and Columns

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?

In [60]:
# Column fixing, correcting size abbreviation. count the percentage of each size category in "Size" column.
inp0.Size.value_counts()

M        171
free     165
L         93
S         34
XL        14
small      1
s          1
Name: Size, dtype: int64

In [61]:
# Print the value counts of each category in "Size" column.
#Column Fixing
inp0.Size=inp0.Size.apply(lambda x: "Medium" if x=="M" else("Large" if x=="L" else ("Extra Large" if x=="XL" else("Small" if x=="small" else ("Small" if x.upper()=="S" else "Free")))))
# Column fixing, correcting size abbreviation. count the percentage of each size category in "Size" column.
#inp0.Size=inp0.Size.apply(lambda x : "Medium" if x=="M" else( "Large" if x=="L" else ("Extra Large" if x=="XL" else("Small" if x=="small" else ("Small" if x.upper()=="S" else "Free")))))
inp0.head()
#inp0.head(20)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,Large,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0

### Impute/Remove Missing values

In [62]:
# Print the null count of each variables of inp0 and inp1.
inp0.Size.value_counts()/len(inp0)*100
inp0.Size.value_counts(normalize=True)

Medium         0.356994
Free           0.344468
Large          0.194154
Small          0.075157
Extra Large    0.029228
Name: Size, dtype: float64

In [63]:
#Print the null count of each variables of inp0 and inp1
inp1.isnull().sum()/len(inp0)*100

Dress_ID       0.000000
29-08-2013     0.000000
31-08-2013     0.000000
09-02-2013     0.000000
09-04-2013     0.000000
09-06-2013     0.000000
09-08-2013     0.000000
09-10-2013     0.000000
09-12-2013     0.000000
14-09-2013     0.000000
16-09-2013     0.000000
18-09-2013     0.000000
20-09-2013     0.000000
22-09-2013     0.000000
24-09-2013     0.000000
26-09-2013    46.346555
28-09-2013     0.000000
30-09-2013    53.653445
10-02-2013    54.070981
10-04-2013    53.862213
10-06-2013     0.000000
10-08-2013    53.235908
10-10-2013    53.235908
10-12-2013     0.000000
dtype: float64

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

In [64]:
# Print the data types information of inp1 i.e. "Dress Sales" data.
inp1.dtypes

Dress_ID      float64
29-08-2013      int64
31-08-2013      int64
09-02-2013      int64
09-04-2013      int64
09-06-2013      int64
09-08-2013      int64
09-10-2013      int64
09-12-2013     object
14-09-2013     object
16-09-2013     object
18-09-2013     object
20-09-2013     object
22-09-2013     object
24-09-2013      int64
26-09-2013    float64
28-09-2013      int64
30-09-2013    float64
10-02-2013    float64
10-04-2013    float64
10-06-2013      int64
10-08-2013    float64
10-10-2013    float64
10-12-2013      int64
dtype: object

In [65]:
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
inp1["09-12-2013"] = inp1["09-12-2013"].apply(pd.to_numeric, downcast='float',errors='coerce')
inp1["14-09-2013"] = inp1["14-09-2013"].apply(pd.to_numeric, downcast='float', errors='coerce')
inp1["16-09-2013"] = inp1["16-09-2013"].apply(pd.to_numeric, downcast='float', errors='coerce')
inp1["18-09-2013"] = inp1["18-09-2013"].apply(pd.to_numeric, downcast='float', errors='coerce')
inp1["20-09-2013"] = inp1["20-09-2013"].apply(pd.to_numeric, downcast='float', errors='coerce')
inp1["22-09-2013"] = inp1["22-09-2013"].apply(pd.to_numeric, downcast='float', errors='coerce')

In [66]:
# Do the required changes in the "Dress Sales" data set to get null values on string values.

In [67]:
# Convert the object type columns in "Dress Sales" into float type of data type.
(inp1.isnull().sum()/len(inp1))*100

Dress_ID       0.000000
29-08-2013     0.000000
31-08-2013     0.000000
09-02-2013     0.000000
09-04-2013     0.000000
09-06-2013     0.000000
09-08-2013     0.000000
09-10-2013     0.000000
09-12-2013     0.208768
14-09-2013     0.208768
16-09-2013     0.208768
18-09-2013     0.208768
20-09-2013     0.208768
22-09-2013     0.208768
24-09-2013     0.000000
26-09-2013    46.346555
28-09-2013     0.000000
30-09-2013    53.653445
10-02-2013    54.070981
10-04-2013    53.862213
10-06-2013     0.000000
10-08-2013    53.235908
10-10-2013    53.235908
10-12-2013     0.000000
dtype: float64

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.

In [68]:
# Print the null percetange of each column of inp1.
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  478 non-null    float32
 9   14-09-2013  478 non-null    float32
 10  16-09-2013  478 non-null    float32
 11  18-09-2013  478 non-null    float32
 12  20-09-2013  478 non-null    float32
 13  22-09-2013  478 non-null    float32
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float32(6), float64(7), int64(11)
memory usage: 78.7 KB

In [69]:
# Drop the columns in "Dress Sales" which have more than 40% of missing values.
# Create the four seasons columns in inp1, according to the above criteria.
inp1["Summer"]=inp1["29-08-2013"]+inp1["31-08-2013"]+inp1["09-06-2013"]+inp1["09-08-2013"]+inp1["10-06-2013"]
inp1["Autumn"]=inp1["09-10-2013"]+inp1["14-09-2013"]+inp1["16-09-2013"]+inp1["18-09-2013"]+inp1["20-09-2013"]+inp1["22-09-2013"]+inp1["24-09-2013"]+inp1["28-09-2013"]
inp1["Winter"]=inp1["09-02-2013"]+inp1["09-12-2013"]+inp1["10-12-2013"]
inp1["Spring"]=inp1["09-04-2013"]
inp1.head()

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013,Summer,Autumn,Winter,Spring
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119.0,3204.0,...,3795.0,3832.0,3897,3923.0,3985.0,4048,13899,26857.0,9658.0,2660
1,1.212192e+09,151,275,570,750,813,1066,1164,1558.0,1756.0,...,3475.0,3654.0,3911,4024.0,4125.0,4277,6216,17311.0,6405.0,750
2,1.190381e+09,6,7,7,7,8,8,9,10.0,10.0,...,11.0,11.0,11,11.0,11.0,11,40,82.0,28.0,7
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723.0,1746.0,...,1929.0,1941.0,1952,1955.0,1959.0,1963,7213,14411.0,5012.0,1455
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638.0,1655.0,...,2387.0,2459.0,2544,2614.0,2693.0,2736,7706,14676.0,5678.0,1396

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [70]:
# Create the four seasons columns in inp1, according to the above criteria.

In [71]:
# calculate the sum of sales in each seasons in inp1 i.e. "Dress Sales".

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [72]:
# Merge inp0 with inp1 into inp0. this is also called left merge.
inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,...,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013,Summer,Autumn,Winter,Spring
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleevless,NaN,chiffon,...,3795.0,3832.0,3897,3923.0,3985.0,4048,13899,26857.0,9658.0,2660
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,NaN,...,3475.0,3654.0,3911,4024.0,4125.0,4277,6216,17311.0,6405.0,750
2,1190380701,vintage,High,0.0,Large,Automn,o-neck,full,polyster,NaN,...,11.0,11.0,11,11.0,11.0,11,40,82.0,28.0,7
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full,silk,chiffon,...,1929.0,1941.0,1952,1955.0,1959.0,1963,7213,14411.0,5012.0,1455
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,...,2387.0,2459.0,2544,2614.0,2693.0,2736,7706,14676.0,5678.0,1396

In [73]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons.
inp0.drop(inp0.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
Summer              0
Autumn              2
Winter              1
Spring              0
dtype: int64

Print the null count of inp0 to get the idea about the missing values in data set.

In [74]:
# Print the null count of each columns in inp0 dataframe i.e. combined data frame of inp0 and inp1 without date columns.

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn. 

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.

In [75]:
# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
inp0 = inp0[~inp0.Price.isnull()]

inp0 = inp0[~inp0.Season.isnull()]

inp0 = inp0[~inp0.NeckLine.isnull()]

inp0 = inp0[~inp0.SleeveLength.isnull()]

inp0 = inp0[~inp0.Winter.isnull()]

inp0 = inp0[~inp0.Autumn.isnull()]

In [76]:
# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.
inp0.Material= inp0.Material.replace(np.nan, "Missing")

inp0.FabricType= inp0.FabricType.replace(np.nan, "Missing")

inp0.Decoration= inp0.Decoration.replace(np.nan, "Missing")

inp0['Pattern Type']= inp0['Pattern Type'].replace(np.nan, "Missing")

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.
 
- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength

In [77]:
#correcting the spellings.
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation,Summer,Autumn,Winter,Spring
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleevless,Missing,chiffon,ruffles,animal,1,13899,26857.0,9658.0,2660
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,Missing,ruffles,animal,0,6216,17311.0,6405.0,750
2,1190380701,vintage,High,0.0,Large,Automn,o-neck,full,polyster,Missing,Missing,print,0,40,82.0,28.0,7
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full,silk,chiffon,embroidary,print,1,7213,14411.0,5012.0,1455
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0,7706,14676.0,5678.0,1396

In [78]:
#correcting the Spellings.
inp0.Season= inp0.Season.replace('Automn', "Autumn")

inp0.Season= inp0.Season.replace('spring', "Spring")

inp0.Season= inp0.Season.replace('winter', "Winter")

In [79]:
inp0.SleeveLength= inp0.SleeveLength.replace(['cap-sleeves', 'capsleeves'], "cap sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace('full', "full sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace(['half','halfsleeve'], "half sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace(['sleevless', 'sleeevless', 'sleeveless', 'sleveless'], "sleeve less")

inp0.SleeveLength= inp0.SleeveLength.replace(['threequarter','threequater', 'thressqatar'], "three quater")

inp0.SleeveLength= inp0.SleeveLength.replace(['turndowncollor','urndowncollor'], "turn down collar")

In [80]:
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation,Summer,Autumn,Winter,Spring
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleeve less,Missing,chiffon,ruffles,animal,1,13899,26857.0,9658.0,2660
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,Missing,ruffles,animal,0,6216,17311.0,6405.0,750
2,1190380701,vintage,High,0.0,Large,Autumn,o-neck,full sleeves,polyster,Missing,Missing,print,0,40,82.0,28.0,7
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full sleeves,silk,chiffon,embroidary,print,1,7213,14411.0,5012.0,1455
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0,7706,14676.0,5678.0,1396

## Univariate Analysis

### Categorical Unordered Univariate Analysis

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

In [106]:
# Group "Style" categories into "Others" which have less than 50000 sales across all the seasons.

inp0['Style'].value_counts()
#inp1.shape

Casual      217
Sexy         65
party        48
cute         43
vintage      25
bohemian     23
Brief        17
work         17
sexy          6
Novelty       6
Flare         2
OL            1
fashion       1
Name: Style, dtype: int64

In [110]:
total_collection=inp0.groupby(['Style'])['Spring','Winter','Autumn', 'Summer'].sum()
total_collection
#total_collection[total_collection.sum(axis = 1)<50000]

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

          Spring    Winter    Autumn  Summer
Style
Brief       7484   25020.0   69821.0   37303
Casual     60979  192922.0  566744.0  282913
Flare         71     406.0    1161.0     451
Novelty      563    2504.0    7353.0    2866
OL            15      53.0     158.0      63
Sexy       23451   81263.0  230524.0  117117
bohemian    3800   11752.0   37446.0   16119
cute       20022   63999.0  179466.0   98512
fashion       19      74.0     211.0      91
party       7987   24558.0   73978.0   35518
sexy        3564   15173.0   39002.0   19704
vintage     8693   33595.0   91439.0   46847
work        4893   16882.0   46389.0   24931

In [111]:
total_collection[total_collection.sum(axis = 1)<50000]

         Spring  Winter  Autumn  Summer
Style
Flare        71   406.0  1161.0     451
Novelty     563  2504.0  7353.0    2866
OL           15    53.0   158.0      63
fashion      19    74.0   211.0      91

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [112]:
# Calculate the percentage of each categories in the "Style" variable.
inp0.Style.value_counts(normalize=True)*100

Casual      46.072187
Sexy        13.800425
party       10.191083
cute         9.129512
vintage      5.307856
bohemian     4.883227
Brief        3.609342
work         3.609342
sexy         1.273885
Novelty      1.273885
Flare        0.424628
OL           0.212314
fashion      0.212314
Name: Style, dtype: float64

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [84]:
# Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

In [85]:
# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [86]:
# Group "material" categories into "Others" which have less than 25000 sales across all the seasons.

In [87]:
# Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.

In [88]:
# Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.

In [89]:
# Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [113]:
# Describe the numerical variale: "Autumn".
inp0.Autumn.describe()

count      471.000000
mean      2852.849257
std       5037.033044
min          1.000000
25%        410.500000
50%       1334.000000
75%       3126.000000
max      55532.000000
Name: Autumn, dtype: float64

In [91]:
# plot the boxplot of "Autumn" column.

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [114]:
# Find the maximum and 99th percentile of Winter season.
# Find the maximum and 99th percentile of Winter season.
inp0.Winter.max()- inp0.Winter.quantile(0.99)

11402.69999999999

In [115]:
# Find the maximum and 99th percentile of Summer season.
inp0.Summer.max()- inp0.Summer.quantile(0.99)

21602.999999999996

In [116]:
# Find the maximum and 99th percentile of Spring season.
inp0.Spring.max()- inp0.Spring.quantile(0.99)

4716.8

In [117]:
# Find the maximum and 99th percentile of Autumn season.
inp0.Autumn.max()- inp0.Autumn.quantile(0.99)

31397.999999999975

## Bivariate Analysis

### Numerical- Categorical analysis

Which of the following “Price” category has the lowest average value of rating?
- very-high
- Medium
- Low
- High

In [96]:
# Find the Mean of Ratings for each Price category.

What is the median of the rating of “vintage” category in Style column?
- 4.6
- 4.7
- 4.55
- 0.00

In [97]:
# Find the median of Ratings for each Style category.

Which of the following season has the highest average value of sale for “Recommendation” value equals to 1.
- Summer
- Spring
- Autumn
- Winter

In [98]:
# Summer sale vs Recommendation.

In [99]:
# Spring sale vs Recommendation.

In [100]:
# Autumn sale vs Recommendation.

In [101]:
# Winter sale vs Recommendation.

### Categorical categorical bivariate analysis

Which of the following size categories has the highest positive recommendations?
- Medium and extra large
- Extra large and small
- Free and small
- Free and medium

In [102]:
# Size vs Recommendation.

### Multivariate analysis

Which of the following pair of “Style” and “Price” category has the highest average of positive recommendations?
- Price: medium and style: vintage
- Price: medium and style: cute
- Price: very high and style: party
- Price: low and style: sexy

In [103]:
# plot the heat map of Style, price and Recommendation.

Which of the following material type has no recommendation in summer and winter seasons?
- Mix and Milksilk
- Nylon and Rayon
- Microfiber and Silk
- Milksilk and Microfiber

In [104]:
# plot the heat map of Season, material and Recommendation.